@model IEnumerable<CompanyAdmin.Models.Department>

@{
                /**/

                ViewBag.Title = "Departments";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departments</h2>
@if (!Model.Any())
{
    <p>There are not any Departments yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Max Employees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
            <tr>
                <td>@department.Name</td>
                <td>@department.MaxEmployees</td>
            </tr>
            }
        </tbody>
    </table>
}
